* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;

    font-family: 'nunito sans', sans-serif;
 }

 html {
    scroll-behavior: smooth;
 }

 body {
    background: #000;
    overflow-x: hidden;
 }

#luzRosa1 {
    /* Rectangle 9521 */

position: absolute;
width: 509.94px;
height: 818.86px;
left: 166.48px;
top: -153.95px;
z-index: -1;

background: linear-gradient(180deg, rgba(255, 23, 108, 0.27) 0%, rgba(38, 41, 41, 0.27) 99.99%, rgba(84, 84, 212, 0.1134) 100%);
filter: blur(99.5536px);
border-radius: 154.972px;
transform: rotate(-54.37deg);

}

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
 }

 header div {
    display: flex;
    align-items: center;
 }

 .lado-esquerdo {
    margin-left: 3%;
 }

 .lado-esquerdo img {
    margin-top: -20px;
    width: 45px;
 }

 .lado-direito {
    margin-right: 5%;
 }

 .lado-esquerdo span {
    color: #828282;
 }

 .lado-esquerdo h1 {
    font-size: 22px;
 }

 .lado-direito input {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #ff6ba141;
    border: 2px solid white;
 }

 .lado-direito img {
    width: 40px;
    margin-inline: 10px;
 }

 .lado-direito h2 {
    font-weight: 300;
    font-size: 18px;
 }

 nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
 }

 nav a {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
 }

 section{
   width: 70%;
   margin: auto;
   margin-top: 50px;
 }

 section h2{
   text-align: center;
   font-size: 22px;
   letter-spacing: 2px;
   line-height: 40px;
   opacity: .7;
 }

 section h3{
   text-align: center;
   font-size: 18px;
   text-transform: uppercase;
   opacity: .7;
   margin-top: 25px;
 }